.MuiDialogContent-root .MuiInputLabel-root:has(+ .MuiInputBase-root input[type="date"]),
.MuiDialogContent-root .MuiInputLabel-root:has(+ .MuiInputBase-root input[type="time"]),
.MuiDialogContent-root .MuiInputLabel-root:has(+ .MuiInputBase-root input[type="datetime-local"]) {
  max-width: calc(133% - 32px);
  padding: 0 4px;
  transform: translate(14px, -9px) scale(.75);
  background: #fff;
  z-index: 1;
}

.MuiDialogContent-root input[type="date"],
.MuiDialogContent-root input[type="time"],
.MuiDialogContent-root input[type="datetime-local"] {
  padding-top: 18px;
  padding-bottom: 11px;
}

.admin-profile-menu button:nth-child(2) {
  display: none;
}
